<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".ui.layananjasa.ListVendorActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.pesanan.FormFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ui.layananjasa.FormPesananActivity"
            android:exported="false" />
        <activity
            android:name=".ui.account.AccountHomepageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pesanan.PesananClientActivity"
            android:exported="false" />
        <activity
            android:name=".ui.layananjasa.DetailJasaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prediksiharga.ResultPrediksiHargaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.HomePageActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.orderdetails.OrderDetailsActivity"
            android:exported="false" />
        <activity android:name=".ui.auth.OnboardingActivity" />
        <activity android:name=".ui.auth.CreateAccountActivity" />
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.RoleSelectionActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.auth.api.credentials.CREDENTIAL_PICKER_PICKER"
            android:value="true" />
        <meta-data
            android:name="DEFAULT_WEB_CLIENT_ID"
            android:value="${DEFAULT_WEB_CLIENT_ID}" />
    </application>

</manifest>